<html lang="en" class="">
  <head>
    <!-- Anti-flicker snippet (recommended)  -->
    <style>
      .async-hide {
        opacity: 0 !important;
      }
    </style>
    <script src="https://ct.pinterest.com/static/ct/token_create.js"></script>
    <script
      type="text/javascript"
      async=""
      src="https://analytics.tiktok.com/i18n/pixel/static/identify_45dd5971.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://analytics.tiktok.com/i18n/pixel/static/main.MTg5YzZmMDFkMw.js"
      data-id="CC6UAQBC77U7GVKHLC4G"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-LMRL06STSS&amp;cx=c&amp;_slc=1"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-ZF0KSVVM14&amp;cx=c&amp;_slc=1"
    ></script>
    <script
      async=""
      src="https://s.pinimg.com/ct/lib/main.8821a9da.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://analytics.tiktok.com/i18n/pixel/events.js?sdkid=CC6UAQBC77U7GVKHLC4G&amp;lib=ttq"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://snap.licdn.com/li.lms-analytics/insight.min.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://s.pinimg.com/ct/core.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.google-analytics.com/analytics.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.google-analytics.com/gtm/js?id=GTM-K9BGS8K&amp;cid=594391067.1740027204&amp;aip=true"
    ></script>
    <script
      async=""
      src="https://www.googletagmanager.com/gtm.js?id=GTM-NKDMSK6"
    ></script>
    <script
      async=""
      src="https://www.google-analytics.com/analytics.js"
    ></script>
    <script>
      (function (a, s, y, n, c, h, i, d, e) {
        s.className += " " + y;
        h.start = 1 * new Date();
        h.end = i = function () {
          s.className = s.className.replace(RegExp(" ?" + y), "");
        };
        (a[n] = a[n] || []).hide = h;
        setTimeout(function () {
          i();
          h.end = null;
        }, c);
        h.timeout = c;
      })(window, document.documentElement, "async-hide", "dataLayer", 4000, {
        "GTM-K9BGS8K": true,
      });
    </script>

    <!-- Analytics-Optimize Snippet -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://www.google-analytics.com/analytics.js",
        "ga"
      );
      ga("create", "UA-46172202-22", "auto", { allowLinker: true });
      ga("set", "anonymizeIp", true);
      ga("require", "GTM-K9BGS8K");
      ga("require", "displayfeatures");
      ga("require", "linker");
      ga("linker:autoLink", ["2checkout.com", "avangate.com"]);
    </script>
    <!-- end Analytics-Optimize Snippet -->

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NKDMSK6");
    </script>
    <!-- End Google Tag Manager -->

    <!-- ************************************************************************************** -->
    <!-- Creative-Tim SEO & Social content -->

    <!-- Canonical SEO -->
    <link
      rel="canonical"
      href="https://www.creative-tim.com/product/argon-dashboard-flask"
    />

    <!--  Social tags      -->
    <meta
      name="keywords"
      content="creative tim, django, backend, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard, bootstrap 4, css3 dashboard, bootstrap 4 admin, argon dashboard bootstrap 4 dashboard, frontend, responsive bootstrap 4 dashboard, argon design, argon dashboard bootstrap 4 dashboard"
    />
    <meta
      name="description"
      content="Argon Dashboard Flask is a beautiful Bootstrap 4 Admin Dashboard with a huge number of components built to fit together and look amazing."
    />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Argon Dashboard Flask by Creative Tim" />
    <meta
      itemprop="description"
      content="Argon Dashboard Django is a beautiful Bootstrap 4 Admin Dashboard with a huge number of components built to fit together and look amazing."
    />

    <meta
      itemprop="image"
      content="https://s3.amazonaws.com/creativetim_bucket/products/339/thumb/opt_ad_flask_thumbnail.jpg"
    />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product" />
    <meta name="twitter:site" content="@creativetim" />
    <meta
      name="twitter:title"
      content="Argon Dashboard Flask by Creative Tim"
    />

    <meta
      name="twitter:description"
      content="Argon Dashboard Flask is a beautiful Bootstrap 4 Admin Dashboard with a huge number of components built to fit together and look amazing."
    />
    <meta name="twitter:creator" content="@creativetim" />
    <meta
      name="twitter:image"
      content="https://s3.amazonaws.com/creativetim_bucket/products/339/thumb/opt_ad_flask_thumbnail.jpg"
    />

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="655968634437471" />
    <meta property="og:title" content="Argon Dashboard Flask by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://argon-dashboard-flask.creative-tim.com/"
    />
    <meta
      property="og:image"
      content="https://s3.amazonaws.com/creativetim_bucket/products/339/thumb/opt_ad_flask_thumbnail.jpg"
    />
    <meta
      property="og:description"
      content="Argon Dashboard Django is a beautiful Bootstrap 4 Admin Dashboard with a huge number of components built to fit together and look amazing."
    />
    <meta property="og:site_name" content="Creative Tim" />

    <!-- Creative-Tim SEO & Social content -->
    <!-- ************************************************************************************** -->

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Argon Dashboard Flask - Dashboard | Creative-Tim</title>

    <!-- Favicon - loaded as static -->
    <link
      rel="icon"
      href="../../../admin/img/brand/favicon.png"
      type="image/png"
    />
    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="../../../admin/vendor/nucleo/css/nucleo.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../../admin/vendor/@fortawesome/fontawesome-free/css/all.min.css"
      type="text/css"
    />
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link
      rel="stylesheet"
      href="../../../admin/css/argon.css?v=1.2.0"
      type="text/css"
    />

    <!-- Specific CSS goes HERE -->

    <style type="text/css">
      /* Chart.js */
      @keyframes chartjs-render-animation {
        from {
          opacity: 0.99;
        }
        to {
          opacity: 1;
        }
      }
      .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms;
      }
      .chartjs-size-monitor,
      .chartjs-size-monitor-expand,
      .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1;
      }
      .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0;
      }
      .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0;
      }
    </style>
    <meta
      http-equiv="origin-trial"
      content="A7JYkbIvWKmS8mWYjXO12SIIsfPdI7twY91Y3LWOV/YbZmN1ZhYv8O+Zs6/IPCfBE99aV9tIC8sWZSCN09vf7gkAAACWeyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZzIiLCJleHBpcnkiOjE3NDIzNDIzOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9"
    />
  </head>
</html>
