<footer class="footer">
    <div class="footer-container">
      <div class="footer-section about">
        <img
          style="width: 200px; margin: 10px 0"
          src="images/Harry-Potter-Logo-PNG-Images-removebg-preview.png"
          alt=""
          class="logo"
        />
        <p>163 Võ An Ninh, Hòa Xuân, Cẩm Lệ, Đà Nẵng</p>
        <p>Công Ty Cổ Phần Phân Phối Sách - LOGO</p>
        <p>137 Nguyễn Thị Thập, Hòa Minh, Liên Chiểu, Đà Nẵng</p>
        <p>Logo nhận đặt hàng trực tuyến và giao hàng tận nơi.</p>
        <div class="social-icons">
          <img src="images/facebook.webp" alt="Facebook" />
          <img src="images/instagram.webp" alt="Instagram" />
          <img src="images/youtube.webp" alt="YouTube" />
        </div>
      </div>

      <div class="footer-section">
        <h3>DỊCH VỤ</h3>
        <ul>
          <li>Điều khoản sử dụng</li>
          <li>Chính sách bảo mật thông tin cá nhân</li>
          <li>Chính sách bảo mật thanh toán</li>
          <li>Giới thiệu Fahasa</li>
          <li>Hệ thống trung tâm - nhà sách</li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>HỖ TRỢ</h3>
        <ul>
          <li>Chính sách đổi - trả - hoàn tiền</li>
          <li>Chính sách bảo hành - bồi hoàn</li>
          <li>Chính sách vận chuyển</li>
          <li>Chính sách khách sĩ</li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>TÀI KHOẢN CỦA TÔI</h3>
        <ul>
          <li>Đăng nhập/ Tạo mới tài khoản</li>
          <li>Thay đổi địa chỉ khách hàng</li>
          <li>Chi tiết tài khoản</li>
          <li>Lịch sử mua hàng</li>
        </ul>
      </div>

      <div class="footer-section contact">
        <h3>LIÊN HỆ</h3>
        <p>📍 163 Võ An Ninh, Hòa Xuân, Cẩm Lệ, Đà Nẵng</p>
        <p>📧 nduymanh11@gmail.com</p>
        <p>📞 1900372326</p>
        <div class="partners">
          <img
            style="width: 150px; margin: 20px 30px"
            src="images/vnpay_logo.webp"
            alt="VNPay"
          />
          <img
            style="width: 50px; margin: 20px 30px"
            src="images/momopay.webp"
            alt="MoMo"
          />
          <img
            style="width: 110px; margin: 20px 30px"
            src="images/shopeepay_logo.webp"
            alt="Shopee Pay"
          />
        </div>
      </div>
    </div>
  </footer>
</body>
</html>